body {
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo {
    max-width: 100px;
    max-height: 100px;
    border: 2px solid #505050;
    border-radius: 50%;
}

#title, .subtitle, .post-title {
    color: #505050;
}

#title {
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.post-title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 2px solid #505050 ;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post-content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post-image {
    margin-bottom: 15px;
    width: 100% ;
 
}

.contact-list {
    list-style-type: none;
    padding-left: 15px;
}

.contact-list li a {
    text-decoration: none;
}